name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    name: Handle Greetings
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - name: Handle greetings
      uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Thank you for raising your first issue - all contributions to this project are welcome!"
        pr-message: "Thank you for raising your first pull request - all contributions to this project are welcome!"
